
variable "FUNCTIONS_ACCOUNT_REPLICATION_TYPE" {
  default = "LRS"
}
variable "FUNCTIONS_ACCOUNT_TIER" {
  default = "Standard"
}
variable "FUNCTIONS_APP_SETTINGS" {
  default = {}
}
variable "FUNCTIONS_CONTAINER_NAME" {
  default = "ctn-functions"
}
variable "FUNCTIONS_FUNCTION_APP_NAME" {
  default = "fn-cicd-lab"
}
variable "FUNCTIONS_FUNCTIONS_VERSION" {
  default = "~4"
}
variable "FUNCTIONS_LOCATION" {
  default = "southeastasia"
}
variable "FUNCTIONS_MIN_TLS_VERSION" {
  default = "TLS1_2"
}
variable "FUNCTIONS_OS_TYPE" {
  default = "Linux"
}
variable "FUNCTIONS_PLAN_SKU_SIZE" {
  default = "Y1"
}
variable "FUNCTIONS_PLAN_SKU_TIER" {
  default = "Dynamic"
}
variable "FUNCTIONS_RESOURCE_GROUP_NAME" {
  default = "rg-cicd-lab-functions"
}
variable "FUNCTIONS_RUN_FROM_PACKAGE" {
  default = "1"
}
variable "FUNCTIONS_SERVICEBUS_NAMESPACE_NAME" {
  default = "sb-lab"
}
variable "FUNCTIONS_SERVICEBUS_QUEUES" {
  default = ["import-queue", "export-queue"]
}
variable "FUNCTIONS_SERVICEBUS_SKU" {
  default = "Standard"
}
variable "FUNCTIONS_SERVICE_PLAN_NAME" {
  default = "sp-functions"
}
variable "FUNCTIONS_SKU_NAME" {
  default = "Y1"
}
variable "FUNCTIONS_STORAGE_ACCOUNT_NAME" {
  default = "san"
}
variable "FUNCTIONS_TAGS" {
  default = {}
}
variable "FUNCTIONS_WORKER_RUNTIME" {
  default = "node"
}